@import url("__text/button__text.css");

.button {
	background-color: #FFBB01;
	border-radius: 5px 5px 10px 10px;
	box-shadow: 0 4px 0 #B68500;
	transition: opacity .2s linear;
	outline: none;
	cursor: pointer;
}

.button:hover {
	opacity: .85;
}

 .button:active .button__text {
 	display: block;
	transform: translate(0, 2px);
}